[submodule "hermes/vim/bundle/vim-textobj-rubyblock"]
	path = hermes/vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "hermes/vim/bundle/vim-pathogen"]
	path = hermes/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "hermes/vim/bundle/vim-rails"]
	path = hermes/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "hermes/vim/bundle/vim-endwise"]
	path = hermes/vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "hermes/vim/bundle/vim-surround"]
	path = hermes/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "hermes/vim/bundle/snipmate.vim"]
	path = hermes/vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim
[submodule "hermes/vim/bundle/ctrlp.vim"]
	path = hermes/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "hermes/vim/bundle/zencoding-vim"]
	path = hermes/vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim
[submodule "hermes/vim/bundle/tabular"]
	path = hermes/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "hermes/vim/bundle/vimux"]
	path = hermes/vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "hermes/vim/bundle/vimux-cucumber"]
	path = hermes/vim/bundle/vimux-cucumber
	url = https://github.com/cloud8421/vimux-cucumber
[submodule "hermes/vim/bundle/vimux-ruby-test"]
	path = hermes/vim/bundle/vimux-ruby-test
	url = https://github.com/pgr0ss/vimux-ruby-test
[submodule "hermes/vim/bundle/vim-turbux"]
	path = hermes/vim/bundle/vim-turbux
	url = https://github.com/jgdavey/vim-turbux
[submodule "hermes/vim/bundle/vim-cucumber"]
	path = hermes/vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "hermes/vim/bundle/tComment"]
	path = hermes/vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "hermes/vim/bundle/vim-unimpaired"]
	path = hermes/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "hermes/vim/bundle/vim-textobj-user"]
	path = hermes/vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "hermes/vim/bundle/nerdtree"]
	path = hermes/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "hermes/vim/bundle/matchit"]
	path = hermes/vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "hermes/vim/bundle/vim-javascript"]
	path = hermes/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "hermes/vim/bundle/vim-coffee-script"]
	path = hermes/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "hermes/vim/bundle/vim-markdown"]
	path = hermes/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "hermes/vim/bundle/vim-bundler"]
	path = hermes/vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "hermes/vim/bundle/vim-ruby"]
	path = hermes/vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "hermes/vim/bundle/supertab"]
	path = hermes/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "hermes/vim/bundle/vim-jade"]
	path = hermes/vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "hermes/vim/bundle/vim-rake"]
	path = hermes/vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "hermes/vim/bundle/vim-puppet"]
	path = hermes/vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "hermes/vim/bundle/splice.vim"]
	path = hermes/vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim
